@import "compass/css3";
@import "compass_twitter_bootstrap/variables";
@import "compass_twitter_bootstrap_awesome";
@import "admin_base";
@import "helpers";
@import "elements";
@import "admins/forms";
@import "colorbox-skin";


/* MAIN STYLESHEET */
body{
  padding:0;
}
#inner {
  margin: auto;
  padding-top:2 * $navbarHeight;
  margin-bottom: $baseLineHeight;
  max-width: $maxContentWidth;
}

/* Genereic doulbe-gray-border Box Layout style */
.bubblebox {
  padding: $halfBaseLine;
  background: $grayLighter;
  margin: $baseLineHeight 0;
}
.bubble {
  border: 1px solid $bubbleBorderColor;
  background: $white;
  padding: 0 $baseLineHeight $baseLineHeight;
}

.empty {
  padding: $baseLineHeight/2;
  font-family: $altFontFamily;
  font-style: italic;
}

/* Header Styling */
.navbar.navbar-fixed-top{
  .navbar-inner{
    padding:0;
  }
}
header {
  @extend .row-fluid;
  background: $mintyGreen;
  @include background-image(linear-gradient(#bad3c7, $green 70%, $green));
  @include box-shadow(darken($green, 30%) 0 -10px 10px -8px inset);
  position: fixed;
  margin: 0 ($gridGutterWidth * -1);
  padding: $navbarHeight 0 0 0;
  z-index:  $zindexFixedNavbar - 1;
  border-bottom: 1px dotted $grayDark;

  .header-inner {
    @include pie-clearfix;
    overflow: visible;
    margin: 0 0 0 $gridGutterWidth;
    height:$navbarheight;
    line-height:$navbarheight;
    a.btn, input.btn{
      @include border-radius(0);
      @include box-sizing(border-box);
      @include box-shadow(none);
      border:none;
      border-left: 1px solid $green;
      height:$navbarheight;
      line-height:$navbarheight;
      margin:0;
      padding-top:0;
      padding-bottom:0;
    }
  }

  h1 {
    @extend .span8;
    @include single-text-shadow(darken($green, 40%), 0, 0, 2px);
    //margin-bottom: $halfBaseLine;
    color: lighten($green, 35%);
    font-size:1.3em;
    font-weight:normal;
    height:$navbarheight;
    line-height:$navbarheight;
    margin:0;
  }
}

.main-content.listing {
  padding: 0;
}

@include navtabs;

.actions {
  text-align: right;

  .btn-primary {
    @include ctb-buttonBackground($gray, $grayLight);
  }

  .btn-group,
  > .btn {
    float: right;
    margin-left: $baseLineHeight / 2;
  }

  .dropdown-menu {
    text-align: left;
  }
}


.meta {
  font-family: $altFontFamily;
  border-bottom: 1px dotted $grayLight;
  padding-bottom: 2px;

  .icon-eye-open {
    color: $successText;
  }
  .icon-eye-close {
    color: $grayLight;
  }
}

.record {
  position: relative;
  overflow: hidden;
  padding: $halfBaseLine/2 $halfBaseLine;
  border-bottom: 1px solid $grayLight;
  border-top: 1px solid $white;
  background: $grayLighter;

  &:nth-child(odd) {
    background: $white;
  }

  &:last-child {
    border-bottom: none;
  }

  .actions {
    @extend .btn-group;
    float: right;
  }

  .state {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 30px;
    background: lighten($mintyGreen, 10%);
    border-right: 1px solid #999;
    text-align: center;
    vertical-align: baseline;
    @include box-shadow(darken($green, 20%) -4px 0 10px -1px inset);

    i {
      @include text-shadow(#F4F4F4 1px 1px 0px);
      line-height: 39px;
    }
  }

  h4 {
    margin: 0 0 0 30px;
    line-height: 30px;

    .label {
      vertical-align: 3px;
    }
  }

  a {
    text-decoration: none;
  }
}

.visibility {
  margin-top: $baseLineHeight;

  label.disabled {
    color: $lightGray;
  }
}


/* ALERT STYLING */
#flash {
  width: 50%;
  position: fixed;
  z-index: $zindexFixedNavbar + 1;
  margin: 3.25% 25%;

  p {
    margin-bottom: 0;
  }
}

/* bootstrap override for 'general errors' */
.alert.alert-error .help-inline {
    margin-bottom: 0px;
    padding-left: 0px;
}


// extend form css
.collapsable-box{
  padding:20px 0 0 0;
  .box-title{
    height:35px;
    line-height:35px;
    background: lighten($green, 20%);
    padding: 0 10px 0 35px;
    @include border-top-radius(5px);
    position:relative;
    h3{
      font-size:1.2em;
      margin:0;
      height:35px;
      line-height:35px;
    }
    .fa{
      display: inline-block;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      position:absolute;
      top:0px;
      left:0px;
      font-size:1.3em;
      background:lighten($green, 5%);
      padding:0 8px;
      height:35px;
      line-height:38px;
      color:#fff;
      @include border-top-left-radius(5px);
      &.fa-resize-full{
        &:before{
          content: '\f065';
        }
      }
      &.fa-resize-small{
        display:none;
        &:before{
          content: '\f066';
        }
      }
    }
  }
  .bubblebox{
    display:none;
    margin:0;
    @include border-bottom-radius(5px);
    .bubble{
      padding-top:20px;
    }
  }
  &.open{
    .box-title{
      .fa{
        &.fa-resize-full{display:none;}
        &.fa-resize-small{display:block;}
      }
    }
  }
  &.always-open{
    .box-title{
      padding: 0 10px 0 15px;
      .fa{
        &.fa-resize-full{display:none;}
        &.fa-resize-small{display:none;}
      }
    }
    .bubblebox{
      display: block;
    }
  }
}

.record{
  h4{
    font-size:1em;
    line-height:1.4em;
    padding-right:150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    span{
      color:#666;
      font-weight:normal;
    }
  }
}
