#dialog-modal.Basic.dialog(title="Edit Cell")
  %form{ :action => "", :method => "post"}
    %fieldset#editCell
      .row-fluid
        .span6
          %h3 Used Cell
        .span6
          %h3 Original Cell
      .row-fluid
        .span6
          %label{:for => "editTitle"} Title:
          %textarea{:id => "editTitle", :type => "text", :name => "editTitle"}
        .span6
          %dl
            %dt Title
            %dd{:id => "canonicalTitle"}
      .row-fluid
        .span6
          %label{:for => "editDescription"} Description:
          %textarea{:id => "editDescription", :type => "text", :name => "editDescription"}
        .span6
          %dl
            %dt Description
            %dd{:id => "canonicalDescription"}
      .row-fluid
        .span6
          %label{:for => "imagesrc"} Upload Poster Image:
          %input{:id => "editImageSrc", :type => "text", :name => "imagesrc"}
          %br
            %input{:id => "deleteImage", :type => "button", :name => "deleteImage", :value => "Delete Poster Image"}
        .span6
      .row-fluid
        .span6
        .span6
          %dl
            %dt Type
            %dd#type.textInEdit
      .row-fluid
        .span12
          %p
            /%input{:type => "submit", :value => "Save"}
            %input{:type => "button", :value => "Save", :class => "form_submit"}
            %input{:id => "removeCell", :type => "button", :value => "Remove Cell from Grid"}
