
.groups[data-v-5715c8a4] {
  position: relative;
  height: 100%;
}
.groups h2[data-v-5715c8a4] {
  font-weight: bold;
  margin-bottom: 1em;
}
.groups .filters[data-v-5715c8a4] {
  margin-bottom: 1em;
}
.groups .filters input[data-v-5715c8a4] {
  display: inline-block;
}
.groups .group-list[data-v-5715c8a4] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.groups .group-list-container.as-menu[data-v-5715c8a4] {
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid #808080;
}
.groups .group-list-container.as-menu .group-list[data-v-5715c8a4] {
  display: block;
  overflow-y: scroll;
}
.groups .group-list-container.as-menu .filters[data-v-5715c8a4] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 2em;
  height: 2em;
  margin: 0;
}
.groups .group-list-container.as-menu label[data-v-5715c8a4],
.groups .group-list-container.as-menu input#sort-reversed[data-v-5715c8a4] {
  display: none;
}
.groups .group-list-container.as-menu label[for=sort-reversed][data-v-5715c8a4] {
  display: block;
  width: 2em;
  overflow: hidden;
}
.groups .group-list-container.as-menu label[for=sort-reversed][data-v-5715c8a4]:before {
  content: "\25BC";
  display: block;
  height: 100%;
  width: 100%;
  padding-top: 0.5em;
  text-align: center;
  color: #808080;
}
.groups .group-list-container.as-menu label[for=sort-reversed].is-reversed[data-v-5715c8a4]:before {
  content: "\25B2";
  padding-top: 0.25em;
}
.groups .group-list-container.as-menu input#text-filter[data-v-5715c8a4] {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.group-listing[data-v-78d57956] {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.group-listing .router-link-exact-active[data-v-78d57956] {
  color: #f00;
}
.group-listing.as-menu[data-v-78d57956] {
  width: 100%;
}
.group-listing.as-menu .description[data-v-78d57956] {
  display: none;
}
.group-listing.as-menu .inner[data-v-78d57956] {
  margin: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
}
.group-listing.as-menu .inner[data-v-78d57956]:last-child {
  border-bottom-width: 1;
}
.group-listing .inner[data-v-78d57956] {
  border: 1px solid #d3d3d3;
  margin: 0.2em;
  padding: 0.5em;
}
.group-listing .inner[data-v-78d57956]:hover {
  border-color: #808080;
  background-color: #eee;
}
.group-listing h3[data-v-78d57956] {
  margin: 0;
}
.group-listing p[data-v-78d57956] {
  font-size: 0.8rem;
  color: #808080;
}
.group-listing p[data-v-78d57956]:first-child {
  padding-top: 0px;
}
.group-listing p[data-v-78d57956]:last-child {
  padding-bottom: 0px;
}

.group[data-v-6e3b3742] {
  margin-left: 20%;
}
.group .title[data-v-6e3b3742] {
  font-weight: bold;
}
.group .no-videos[data-v-6e3b3742] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.group .no-videos p[data-v-6e3b3742] {
  text-align: center;
}













































.event-listing[data-v-2e66b85a] {
  border: 1px solid #d3d3d3;
  border-bottom-width: 0px;
  padding: 0.5em;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.event-listing[data-v-2e66b85a]:last-child {
  border-bottom-width: 1px;
}
.event-listing[data-v-2e66b85a]:hover {
  background-color: #eee;
}
.event-listing .video-thumb[data-v-2e66b85a],
.event-listing .annot-thumb[data-v-2e66b85a] {
  width: 90px;
  height: 60px;
  border: 1px solid #808080;
  background-color: #e5e5e5;
}
.event-listing .labels[data-v-2e66b85a] {
  display: block;
}
.event-listing .label[data-v-2e66b85a] {
  float: left;
  border: 1px solid #1e90ff;
  border-radius: 1em;
  padding: 0.2em 0.75em 0.2em 0.75em;
  color: #483d8b;
  background-color: #87cefa;
  font-size: 0.75rem;
  text-align: center;
  margin-right: 0.15em;
}
.event-listing .label[data-v-2e66b85a]:last-child {
  margin-right: 0em;
}
.event-listing .time[data-v-2e66b85a] {
  display: inline-block;
  font-size: 0.75rem;
  background-color: #eee;
  color: #696969;
  padding: 0.25em 0.75em 0.25em 0.75em;
  margin-right: 0.5em;
}
.event-listing .title[data-v-2e66b85a] {
  margin: 0 0 0 1em;
  padding: 0;
}

input[data-v-8a664f6e] {
  display: block;
}
