
h1,
h2,
h3,
h4,
h5 {
  font-size: 1.1em;
}

.groups[data-v-5715c8a4] {
  position: relative;
  height: 100%;
  min-height: 300px;
}
.groups h2[data-v-5715c8a4] {
  font-weight: bold;
  margin-bottom: 1em;
}
.groups .filters[data-v-5715c8a4] {
  margin-bottom: 1em;
}
.groups .filters input[data-v-5715c8a4] {
  display: inline-block;
}
.groups .group-list[data-v-5715c8a4] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.groups .group-list-container input#sort-reversed[data-v-5715c8a4] {
  display: none;
}
.groups .group-list-container label[for=sort-reversed][data-v-5715c8a4] {
  display: block;
  float: right;
  width: 2em;
  height: 2em;
  overflow: hidden;
}
.groups .group-list-container label[for=sort-reversed][data-v-5715c8a4]:before {
  content: "\25BC";
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #808080;
  overflow: hidden;
}
.groups .group-list-container label[for=sort-reversed].is-reversed[data-v-5715c8a4]:before {
  content: "\25B2";
}
.groups .group-list-container.as-menu[data-v-5715c8a4] {
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid #d3d3d3;
}
.groups .group-list-container.as-menu .group-list[data-v-5715c8a4] {
  display: block;
  overflow-y: auto;
}
.groups .group-list-container.as-menu .filters[data-v-5715c8a4] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 2em;
  height: 2em;
  margin: 0;
}
.groups .group-list-container.as-menu label[for=text-filter][data-v-5715c8a4] {
  display: none;
}
.groups .group-list-container.as-menu input#text-filter[data-v-5715c8a4] {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 1em;
}

.group-listing[data-v-78d57956] {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.group-listing .router-link-exact-active[data-v-78d57956],
.group-listing .router-link-exact-active h3[data-v-78d57956],
.group-listing .router-link-exact-active p[data-v-78d57956] {
  color: #c78910;
}
.group-listing.as-menu[data-v-78d57956] {
  padding-right: 0.25em;
  padding-left: 0.25em;
}
.group-listing.as-menu .description[data-v-78d57956] {
  display: none;
}
.group-listing.as-menu .inner[data-v-78d57956] {
  margin: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-top-width: 0;
}
.group-listing .inner[data-v-78d57956] {
  border: 1px solid #d3d3d3;
  margin: 0.2em;
  padding: 0.5em;
  padding-left: 0.25em;
  padding-right: 0.1em;
}
.group-listing .inner[data-v-78d57956]:hover {
  background-color: #f5f5f5;
}
.group-listing h3[data-v-78d57956] {
  margin: 0;
  color: #444;
}
.group-listing p[data-v-78d57956] {
  font-size: 0.8rem;
}
.group-listing p[data-v-78d57956]:first-child {
  padding-top: 0px;
}
.group-listing p[data-v-78d57956]:last-child {
  padding-bottom: 0px;
}

.group[data-v-6e3b3742] {
  margin-left: 20%;
}
.group .filters[data-v-6e3b3742] {
  height: 2em;
}
.group .filters input#event-sort-reversed[data-v-6e3b3742] {
  display: none;
}
.group .filters label[for=event-sort-reversed][data-v-6e3b3742] {
  display: block;
  float: right;
  width: 2em;
  height: 2em;
  overflow: hidden;
}
.group .filters label[for=event-sort-reversed][data-v-6e3b3742]:before {
  content: "\25BC";
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #808080;
  overflow: hidden;
}
.group .filters label[for=event-sort-reversed].is-reversed[data-v-6e3b3742]:before {
  content: "\25B2";
}
.group .title[data-v-6e3b3742] {
  font-weight: bold;
}
.group .event-list[data-v-6e3b3742] {
  position: relative;
  min-height: 100px;
}
.group .event-list .no-videos[data-v-6e3b3742] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #c7c7c7;
}
.group .event-list .no-videos h4[data-v-6e3b3742] {
  font-size: 2em;
}













































.event-listing[data-v-2e66b85a] {
  border-bottom: 1px solid #d3d3d3;
  padding: 0.5em;
  overflow: hidden;
}
.event-listing[data-v-2e66b85a]:last-child {
  border-bottom-width: 0px;
}
.event-listing .inner[data-v-2e66b85a] {
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.event-listing .inner[data-v-2e66b85a]:last-child {
  border-bottom-width: 1px;
}
.event-listing .inner[data-v-2e66b85a]:hover {
  background-color: #eee;
}
.event-listing .inner .video-thumb[data-v-2e66b85a],
.event-listing .inner .annot-thumb[data-v-2e66b85a] {
  width: 90px;
  height: auto;
  margin-right: 0.5em;
  position: relative;
}
.event-listing .inner .video-thumb span[data-v-2e66b85a],
.event-listing .inner .annot-thumb span[data-v-2e66b85a] {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0.5em;
  font-weight: bold;
  font-size: 0.6rem;
  color: #7f7f7f;
}
.event-listing .inner .draggable-item img[data-v-2e66b85a] {
  pointer-events: none;
}
.event-listing .inner .draggable-item[data-v-2e66b85a]:hover {
  color: #222;
}
.event-listing .inner .labels[data-v-2e66b85a] {
  display: inline-block;
  vertical-align: middle;
}
/*    .label
      float left
      border 1px solid dodgerblue
      border-radius 1em
      padding 0.2em 0.75em 0.2em 0.75em
      color darkslateblue
      background-color lightskyblue
      font-size 0.75rem
      text-align center
      margin-right 0.15em

    .label:last-child
      margin-right 0em */
.time[data-v-2e66b85a] {
  display: inline-block;
  font-size: 0.75rem;
  background-color: #eee;
  color: #696969;
  padding: 0.1em 0.4em 0.1em 0.4em;
  margin-right: 0.5em;
}
h4.title[data-v-2e66b85a] {
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  line-height: 1.2em;
  margin-bottom: 0.2em;
}
h4.title a[data-v-2e66b85a] {
  color: #444;
}
