/*TODO
height boundsForGrid?


*/



body {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 3px;
}

h2 {
	padding: 20px 5px 20px 20px;
}

.edit_cell_set img {
  margin: 0;
}

#boundsForGrid{
	position: relative;
	background-color: #444444;
	height:250px;
	width: 100%;
	opacity: 0.9;
}

#grid{
	position: absolute;
    background-color: #cccccc;
    opacity: 1;
    z-index:1;
}

.cell {
	position: absolute !important;
	opacity:0.8;
	border-width: 0px !important;
	z-index: 3;
}

.cell h3{ 
	/*text-align: center;*/ 
	padding: 5px 0px 5px 5px; 
	position: absolute;
}

.cell-content{
	padding: 0px 0px 0px 20px;
	font-size: 12px;
}

.cell-title{
	font-weight: 700;
}

.contentCell{
	position: relative;

  img {
    margin-left: 5px;
  }
}

.usedCell{
	opacity: 0.8;
}

.cellTable .row-fluid{
  border: none;
	border-bottom: 1px solid #ddd;
  padding: 5px 0;

  h5 {
    margin-bottom: 0;
  }

  p {
    padding: 0;
  }

  &:nth-child(odd) {
    background: #f9f9f9;
  }

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
}

#emptyCell{
	opacity:0;
}

.activeCell{
	background: #BAD3C7 !important;
	text-decoration:underline;
}

.activeCell span img{
	filter: gray;
	-webkit-filter: grayscale(100%);
}

.textInEdit{
	font-size:14px;
	font-style: italic;
}

.overlap{
	background-color: red;
	position: absolute !important;
	opacity:0.5;
	z-index:2;
}

.contentCellTitle {
  margin-top: 0;
}

.contentCellEditButton {
  text-align: right;
  cursor: pointer;
}

#addRow, #removeRow{
	position: absolute;
	text-align: center;
	font-size: 20px;
	width:100px;
	height:50px;
}

#addRow{
	background-color: white;
}

#removeRow{
	background-color: #BAD3C7;
}

#addColumn, #removeColumn{
	position: absolute;
	text-align: center;
	font-size: 20px;
	width:50px;
	height:200px;
}

#addColumn {
	background-color: white;
}

#removeColumn{
	background-color: #BAD3C7;
}

.dragHelper {
  width: 75px;
  display: inline;
}

svg {
	position: absolute;
}