@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/user-interface";
/*TODO
height boundsForGrid?
*/

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 3px;
}

h2 {
  padding: 20px 5px 20px 20px;
}

.edit_cell_set img {
  margin: 0;
}

.grid-editor{
  .bubblebox{
    margin-top:5px;
  }
}

#boundsForGrid{
  position: relative;
  background-color: #444444;
  min-height:100px;
  width: 100%;
  opacity: 0.9;
  overflow-x:auto;
  overflow-y:hidden;
}

#grid{
  position: absolute;
  background-color: #cccccc;
  opacity: 1;
  z-index:1;
}

#tabs .cellTable{
  min-height: 100px;
  overflow-y: scroll;
}

.cell {
  position: absolute !important;
  opacity:0.8;
  border-width: 0px !important;
  z-index: 3;
  span.cell-image, > span{
    display: block;
    img{
      display: block;
    }
  }
  span.cell-title, .cell-content{display: none;}
}

.cell h3{
  /*text-align: center;*/
  padding: 5px 0px 5px 5px;
  position: absolute;
}

.cell-content{
  padding: 0px 0px 0px 20px;
  font-size: 12px;
}

.cell-title{
  font-weight: 700;
}

.contentCell{
  position: relative;

  img {
    margin-left: 5px;
  }
}

.usedCell{
  opacity: 0.8;
}

.cellTable .row-fluid{
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 5px 0;

  h5 {
    margin-bottom: 0;
  }

  p {
    padding: 0;
  }

  &:nth-child(odd) {
    background: #f9f9f9;
  }

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
}

#emptyCell{
  opacity:0;
}

.activeCell{
  background: #BAD3C7 !important;
  text-decoration:underline;
}

.activeCell span img{
  filter: gray;
  -webkit-filter: grayscale(100%);
}

.selectedCell{
  z-index:9999;
  margin:-1px 0 0 -1px;
  > span{
    -moz-box-shadow: 0 0 25px #000;
    -webkit-box-shadow:0 0 25px #000;
    box-shadow: 0 0 25px #000;
    img{
      border:1px solid #c77405;
    }
  }
}

.textInEdit{
  font-size:14px;
  font-style: italic;
}

.overlap{
  background-color: red;
  position: absolute !important;
  opacity:0.5;
  z-index:2;
}

.contentCellTitle {
  margin-top: 0;
}

.contentCellEditButton {
  text-align: center;
  cursor: pointer;
}

#columnButtons {
  position: absolute;
  width: 22px;
  right: 42px;
  overflow: hidden;
  @include user-select('none')
}
#rowButtons {
  width: 100%;
  height: 20px;
  @include user-select('none')
}

#addRow, #removeRow{
  position: relative;
  float:right;
  text-align: center;
  font-size: 20px;
  width: 100px;
  height: 22px;
  padding: 0px 0px 0px 0px;
}

#addRow{
  background-color: #EEEEEE;
}

#removeRow{
  background-color: #BAD3C7;
}

#addColumn, #removeColumn{
  position: relative;
  display: inline-table;
  text-align: center;
  font-size: 20px;
  width: 22px;
  height: 50%;
  span {
    display: table-cell;
    vertical-align: middle;
    width: 22px;
    height: 100%;
  }
}

#addColumn {
  background-color: #EEEEEE;
}

#removeColumn{
  background-color: #BAD3C7;
}

.dragHelper {
  width: 75px;
  display: inline;
}

svg {
  position: absolute;
}

#filter,
.table-header-form,
.filters {
  background: #d2dad6;
  padding: 10px 15px;

  label {
    display: inline-block;
    line-height: 30px;
    font-weight: bold;
  }

  select, input, label{
    margin-bottom: 0;
  }
}

.filters,
.table-header-form {
  a {
    padding: 1em;

    &:first-child {
      padding-left: 0;
    }
  }
}

/* Modal Dialog */

#cell-title-todelete{
  margin:0 0 0 25px;
  li{
    font-weight: bold;
  }
}
#wrap{
  .ui-tabs-panel{
    @include user-select('none');
    .contentCellDescription{
    }
    .contentCellEditButton{
      min-height:15px;
      font-weight:bold;
    }
    h5{
      display:inline-block;
    }
  }
  .ui-tabs{
    @include user-select('none');
    margin:15px 0 0 0;
    font-size:13px;
    color:#333;
    .ui-tabs-panel{
      padding:0;
      margin:0;
    }
    .ui-tabs-nav{
      background:#eee;
      border:none;
      ul, li{
        margin:0;
        padding:0;
        border:none;
        font-size:1.1em;
        font-weight:bold;
        &:focus, &:active,&.ui-tabs-active, &.ui-state-active{
          outline:none!important;
          a{
            outline:none!important;
          }
        }
      }
    }
  }
  .ui-widget-content{
    color:#333;
  }
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active{
  outline:none;
}

.ui-dialog{
	z-index: 9999;
  .ui-dialog-titlebar{
    background:#eee;
  }
  h3{
    font-size:1.1em;
    line-height:1.2em;
    margin:0;
  }
  h4{
    margin:0;
    font-size:0.8em;
  }
  .row-fluid{
    .original *, &.original *{
      color:#999;
    }
    border-bottom:1px solid #d7d7d7;
    margin:0;
    padding:5px 0 5px 0;
    textarea,
    input,
    input[type="button"]{
      margin: 0 10px 5px 0;
      font-size:0.8em;
    }
    textarea,
    input[type="text"]{
      width:100%;
      @include box-sizing(border-box);
    }
    &.noborder{
      border:none;
      padding:5px 0 0px 0;
    }
    label{
      font-size:0.8em;
    }
    dl{
      margin:0;
      padding:0;
      font-size:0.8em;
      span{
        font-weight:normal;
      }
      dd{
        margin:0;
        padding:0;
      }
    }
    #type{
      text-transform:uppercase;
      > span{
        text-transform:none;
        margin: 0 0 0 5px;
      }
    }
    #additionalinfo{
      text-transform:uppercase;
    }
    table{
      border-bottom:1px solid #d7d7d7;
      border-right:1px solid #d7d7d7;
      margin:5px 0 10px 0;
      width:100%;
      &#specialAttributesCanonical{
        margin:5px 0 0 0;
      }
      td, th{
        border-top:1px solid #d7d7d7;
        border-left:1px solid #d7d7d7;
        padding:0 3px;
        text-align: left;
        white-space:nowrap;
        &.key{
          width:30%;
          padding:0;
        }
        &.value{
          width:70%;
          padding:0;
        }
        input{
          margin:0;
          width:100%;
          @include box-sizing(border-box);
          @include border-radius(none);
          @include box-shadow(none);
          border:none;
        }
      }
    }
  }
  #imagecontainer{
    position:relative;
    background:#999;
    min-height:170px;
    margin:0 0 20px 0;
    img{
      display:block;
      margin:0;
    }
    #deleteImage{
      display: inline-block;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      position:absolute;
      top:2px;
      right:2px;
      font-size:1.3em;
      @include border-radius(5px);
      background:rgba(255, 255, 255, 0.5);
      &:before{
        padding:3px;
        content: '\f00d';
      }
      &:hover{
        text-decoration:none;
      }
    }
  }
}

.row-fluid{
  .cell_poster_image{
    margin:0;
  }
}

.additional_fields{
	ul {
		margin: 0;
	}

	li {
		list-style: none;
	}
  .buttonfield{
    text-align:right;
  }
  .bar{
    padding:0 0 10px 0;
    > span{
      line-height:28px;
      font-weight:bold;
    }
  }
  ul.fields{
    li{
      input{
        width:100%;
        @include box-sizing(border-box);
        height:28px;
        line-height:28px;
      }
    }
  }
}
