/*TODO
height boundsForGrid?


*/



body {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 3px;
}

h2 {
	padding: 20px 5px 20px 20px;
}

.edit_cell_set img {
  margin: 0;
}

#boundsForGrid{
	position: relative;
	background-color: #444444;
	height:400px;
	width: 100%;
	opacity: 0.9;
}

#grid{
	position: absolute;
    width: 70%;
    height: 70%;
    background-color: #cccccc;
    opacity: 1;
    z-index:1;
}

.cell {
	position: absolute !important;
	width: 5%; 
	height: 5%; 
	opacity:0.8;
	border-width: 0px !important;
	z-index: 3;
}

.cell h3{ 
	/*text-align: center;*/ 
	padding: 5px 0px 5px 5px; 
	position: absolute;
}

.cell-content{
	padding: 0px 0px 0px 20px;
	font-size: 12px;
}

.cell-title{
	font-weight: 700;
}

.contentCell{
	position: relative;
}

.usedCell{
	opacity: 0.8;
}

.cellTable .row-fluid{
  border: none;
	border-bottom: 1px solid #ddd;
  padding: 5px;

  h5 {
    margin-bottom: 0;
  }

  p {
    padding: 0;
  }

  &:nth-child(odd) {
    background: #f9f9f9;
  }

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
}

#emptyCell{
	opacity:0;
}

.activeCell{
	background: #BAD3C7 !important;
	text-decoration:underline;
}

.activeCell span img{
	filter: gray;
	-webkit-filter: grayscale(100%);
}

.thumbnail{
	/*width: auto;*/
	width:auto;
}

.thumbnail img{
	width: 100%;
}

.textInEdit{
	font-size:14px;
	font-style: italic;
}

.overlap{
	background-color: red;
	position: absolute !important;
	opacity:0.5;
	z-index:2;
}

.contentCellShowButton {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;

#addRow{
	position: absolute;
	background-color: white;
	width:50px;
	height:200px;
}

#addColumn{
	position: absolute;
	background-color: white;
	width:200px;
	height:50px;
}

svg {
	position: absolute;;
}